<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <style>
        .disabled{
            cursor: no-drop;
        }
    </style>
    <link rel="stylesheet" href="{% static 'lib/bootstrap.min.css' %}">
    <title>Demo</title>
</head>

<body><br>
    <div class="container">
        <form action="" method="post" class="form-group">{% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <label for="name">ID</label>
                    <input autocomplete="off" value="{{keys.id}}" type="text" name="name-id" class="form-control disabled" readonly>
                </div>
                <div class="col-sm-12 col-md-4">
                    <label for="name">User_Name</label>
                    <input autocomplete="off" value="{{keys.name}}" type="text" name="name-id" class="form-control">
                </div>
                <div class="col-sm-12 col-md-4">
                    <label for="name">Password</label>
                    <input autocomplete="off" value="{{keys.password}}" type="text" name="pass-id" class="form-control">
                </div>
            </div><br>
                <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>
</body>
<script src="{% static 'lib/jquery.min.js' %}"></script>
<script src="{% static 'lib/popper.min.js' %}"></script>
<script src="{% static 'lib/bootstrap.min.js' %}"></script>
<script>
    $(document).ready(function () {
        console.log("Kathir")
    });
</script>

</html>